@import url(default.css);

input, .btn {
  font-size: 18px;  
}

.btn {
  display: block;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 5px;
}
.btn.active {
  color: var(--theme-color);
}

.btn.btn-block {
  width: 100%;
  color: var(--theme-color);
  background-color: rgba(152, 95, 153, .3);
  transition: background-color ease-in-out .2s;
}
.btn.btn-block:hover,
.btn.btn-block:focus {
  background-color: var(--theme-color);
  color: #ffffff;
}

[data-mode="grid_view"] {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--card-width), auto));
}

[data-mode="view_list"] {
    display: block;
}

.card .card-img {
  object-fit: cover;
  border-radius: 5px;
}

.card:hover {
  background: rgba(0, 0, 0, .2);
  cursor: pointer;
}

.card .card-title {
  font-size: 16px;
}

.card .card-text {
  font-size: 14px;
}

[data-mode="grid_view"] .card {
  margin: 5px;
  padding: 10px 5px;
  border-radius: 10px;
}

[data-mode="grid_view"] .card .card-body {
  padding: 5px;
  padding-bottom: 0;
}

[data-mode="grid_view"] .card, 
[data-mode="grid_view"] .card .card-body {
  text-align: center;
}

[data-mode="grid_view"] .card .card-img {
  width: calc(var(--card-width) - 50px);
  height: calc(var(--card-width) - 50px);
}

[data-mode="view_list"] .card {
  display: flex;
  padding: 10px;
  align-items: center;
  border-radius: 5px;
}

[data-mode="view_list"] .card .card-body {
  margin: 0 10px;
}

[data-mode="view_list"] .card .card-img {
  width: calc(var(--card-width) / 3);
  height: calc(var(--card-width) / 3);
}

@media (max-width: 500px) {
  form {
      margin: 5px 0;
    }
  .headline-1 {
    font-size: 32px;
  }

  [data-mode="grid_view"] .card .card-img {
    width: calc(var(--card-width));
    height: calc(var(--card-width));
  }
}

@media (max-width: 300px) {
  .headline-1 {
    font-size: 22px;
  }

  form {
    margin: 0;
  }
}